.container {
    text-align: center;
    margin-top: 100px;
  }
  
  .heading {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: white;
  }
  
  .form {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 200px;
    margin: auto;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input, .select, .button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
  }

  .input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
    width: 90%;
}
  
  .input, .select {
    background-color: #444;
    color: #fff;
  }
  
  .input:focus, .select:focus {
    outline: none;
    box-shadow: 0 0 5px #fff;
  }
  
  .button {
    background-color: #37a9c0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #008892;
  }
  
  .result {
    margin-top: 20px;
    color: white;
  }

